<div class="body">
  <%= render 'shared/banner-index' %>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Recommended</h3>
    <%= render 'shared/card-recolist' %>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Your List</h3>
    <%= render 'shared/card-userlist' %>
  </div>
</div>