<div class="banner mb-4 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <div class="animated-banner-text">
      <div><h1 class="neon">CURATED</h1></div>
      <div><h1 class="neon">MOVIE LISTS</h1></div>
      <h4 class="calltoaction">List your favorite movies</h4>
      </div>
    </div>
</div>