<div class="banner-index mb-4 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <div class="animated-banner-text">
      <h1 class="neon">CURATED</h1>
      <h1 class="neon">MOVIE LISTS</h1>
      <h4 class="calltoaction">LIST YOUR FAVORITE MOVIES</h4>
      </div>
    </div>
</div>