<div class="container-carousel">

    <div class="card">
        <h3 class="title">Horror</h3>
    </div>
    <div class="card">
        <h3 class="title">Sci-fi</h3>
    </div>
    <div class="card">
        <h3 class="title">Comedy</h3>
    </div>
    <div class="card">
        <h3 class="title">Action</h3>
    </div>

</div>