// Define variables for your color scheme

// For example:
$red: #cb0213;
$dark-red: #8a0102;
$blue: #010150;
$dark-blue: #04002b;
$purple: #25004c;
$yellow: #bd9200;
$orange: #ac3000;
$green: #37472b;
$gray: #252526;
$dark-gray: #000000;
$light-gray: #d4d4d4;
$light-yellow:#fff9f9

