<div class="holder">
  <div class="thing1 seg"></div>
  <div class="thing2 seg"></div>
  <div class="thing3 seg"></div>
  <div class="thing4 seg"></div>
  <div class="thing5 seg"></div>
  <div class="thing6 seg"></div>
  <div class="thing7 seg"></div>
  <div class="thing8 seg"></div>
</div>
