<div class="logo-holder">
  <div class="fas fa-play">
    <div class="circle2 seg"></div>
    <div class="circle3 seg"></div>
    <div class="circle4 seg"></div>
    <div class="circle5 seg"></div>
    <div class="circle6 seg"></div>
    <div class="circle7 seg"></div>
    <div class="circle8 seg"></div>
</div>

