
  <nav class="navbar fixed-top">
      <div class= "logo d-flex flex-start">
        <li><a href="/"><%= render 'shared/logo' %></li>
      </div>
      <div class= "logo d-flex flex-end">
        <%= link_to 'Create a list', new_list_path, class: "btn-create m-2 p-2 px-4" %>
        <form class="/movies" accept-charset="UTF-8" method="get" style="navbar: auto;">
          <input type="text" name="query" id="query" placeholder="Search a movie" class="search-engine m-2 p-2 px-4 " style="navbar: auto;">
          <input type="submit" name="commit" value="Search" class="btn-search m-2 p-2 px-4"  data-disable-with="Search" style="navbar: auto;">
        </form>
      </div>
  </nav>

